@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
}
body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #333;
  background-image: url(7KvcP.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding: 0 10px;
  overflow: hidden;
}
.Logo {
  position: fixed;
  min-width: 300px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.Logo .logo {
  font-size: 2em;
  color: #ffffff;
  user-select: none;
}
.Logo .navigation a {
  position: relative;
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform: scaleX(1);
}

.Logo .navigation .BtnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}
.Logo .navigation .BtnLogin-popup:hover {
  background: #fff;
  color: #162938;
}
.wrapper {
  background: transparent;
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  backdrop-filter: blur(20px);
  border: 2px solid #8f9099;
  padding-top: 5px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
/*.video-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .video-bg {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: auto;
    height: 100%;
  }
}*/

/*form*/
.form {
  padding: 20px 30px;
  padding-top: 25px;
}
.form header {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 2px solid #333333;
}
.form form {
  margin: 20px 0;
}
.form form .error-txt {
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}
.form form .name-details .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}
.form form .name-details .field label {
  font-size: 20px;
}
.form form .name-details .field input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}
.form form .field2 {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}
.form form .field2 input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.form form .field label {
  font-size: 20px;
  margin-bottom: 2px;
}
.form form .field input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form form .field input {
  outline: none;
}

.form from .image input {
  font-size: 17px;
}
#button {
  width: 80%;
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10%;
  margin-top: 13px;

  transition: 0.5s;
}
#button:hover {
  background: #fff;
  color: #162938;
  border: 2px solid #333;
}

.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form form .field .toggle-password i {
  position: absolute;
  right: 15px;
  top: 73%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}
.form form .field .toggle-password i.active:before {
  color: #333;
  content: "\f070";
}
.form form .field2 .Ctoggle-password i {
  position: absolute;
  right: 15px;
  top: 50%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}
.form form .field2 .Ctoggle-password i.active:before {
  color: #333;
  content: "\f070";
}
/*user list*/
.users {
  padding: 25px 30px;
}
.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}
.wrapper img {
  object-fit: cover;
  border-radius: 100px;
}
.users header img {
  height: 50px;
  width: 50px;
}
